<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wzhVoice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2918A60B1F1CDB4800D02348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2918A6241F1CDB4900D02348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2918A62F1F1CDB4900D02348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
